[defaults]

# Local Path to the hosts file to use for this deployment.
# Comment out the next line to use your global hosts file (/etc/ansible/hosts).
inventory = /home/sherriw/Development/Repos/Git/Personal/ComposerSandbox/docs/deploy/hosts-local


# Temporary directory where ansible can store data on the target host.
remote_tmp = /home/runcloud/ansible/.ansible/tmp

# Turn off silly output messages.
nocows = 1

#transport = ssh

# Change SSH timeout
#timeout = 25

#[ssh_connection]
# Allow SSH keys to be forwarded
#ssh_args = -o ForwardAgent=yes
#scp_if_ssh = True